<ng-container *ngIf="question">
  <div class="border border-primary p-2 mt-2">
    <div class="d-flex justify-content-between">
      <h3>Question</h3>
      <div class="d-flex">
        <app-update-question [question]="question"></app-update-question>
        <button class="btn btn-danger mx-2" (click)="onDelete(question)">Delete</button>
      </div>
    </div>
    <h4>{{index}}</h4>
    <p>{{question.questionText}}</p>
    <h3>
      reason
    </h3>
    <p>{{question.responseDescription}}</p>
    {{question|json}}

  </div>
</ng-container>
