<app-modal [title]="'add option'">
    <ng-template #openButton>
        <button class="btn btn-outline-primary"><i class="bi bi-plus"></i> add option</button>
    </ng-template>
    <ng-template #modalBody let-modal>
        <app-form [fields]="OptionForm">
            <ng-template #formButtons let-form>
                <div class="d-flex justify-content-between" >

                  <button class="btn btn-success" (click)="addOption(form,modal)"><i class="bi bi-check-circle"></i>
                    save
                  </button>
                  <button class="btn btn-secondary" (click)="form.reset()"> <i class="bi bi-arrow-counterclockwise"></i>
                    reset
                  </button>
                </div>

            </ng-template>
        </app-form>
    </ng-template>

</app-modal>
