<app-modal title="update skill">
    <ng-template #openButton>
        <button class="btn btn-warning">
            update
        </button>
    </ng-template>
    <ng-template #modalBody let-modal>
        <app-form [fields]="QuizForm" [formData]="Quiz">
            <ng-template #formButtons let-form>
                <div class="d-flex justify-content-between">
                    <button (click)="updateQuiz(form,modal)" class="btn btn-warning">update</button>
                    <button (click)="form.reset()" class="btn btn-secondary">reset</button>
                </div>
            </ng-template>
        </app-form>
    </ng-template>
</app-modal>
