<div class="top-section">
  <app-top-widget
    >
  </app-top-widget>
</div>

<div class="middle-section">

  <div class="widget left">
    <app-stacked-line-chart>

    </app-stacked-line-chart>
  </div>

  <div class="widget right">
    <app-pie-chart

    >
    </app-pie-chart>
  </div>


</div>

<!--<div class="container">
  <div class="line"><mat-divider></mat-divider></div>
  <div class="text mat-typography">Notifications Section </div>
  <div class="line"><mat-divider></mat-divider></div>
</div>-->

<div class="bottom-section">
  <div class="widget left">
    <!--<app-horizontal-bar-chart [option]="stackedLineChartNotifData">

    </app-horizontal-bar-chart>-->
  </div>
  <div class="widget right">
    <app-radar-chart >

    </app-radar-chart>
  </div>
  <div class="widget right">
    <!--<app-radar-chart [option]="notifTypeRadarOption">

    </app-radar-chart>-->
  </div>
</div>


<!--<div class="container">
  <div class="text mat-typography">Contract Section </div>

</div>-->

<div class="bottom-section">
  <div class="widget left">
<!--    <app-horizontal-contract-bar-chart
      [option]="stackedLineChartContractData"
    ></app-horizontal-contract-bar-chart>-->
  </div>
  <div class="widget right">
    <!--<app-radar-chart [option]="contractRadarOption"></app-radar-chart>-->
  </div>
  <div class="widget right">
    <!--<app-half-doughnut
      [pendingContractCount]="pendingContractCount"
      [approvedContractCount]="approvedContractCount"
    ></app-half-doughnut>-->
  </div>
</div>
