<div class="widget-container">
  <div class="widget green">
    <div class="icon">
      <i class="bi bi-magic"></i>
    </div>
    <div class="value">
      <div class="top">17</div>
      <div class="bottom">To Do</div>
    </div>
  </div>
  <div class="widget yellow">
    <div class="icon">
      <i class="bi bi-magic"></i>
    </div>
    <div class="value">
      <div class="top">18</div>
      <div class="bottom">In Progress</div>
    </div>
  </div>
  <div class="widget red">
    <div class="icon">
      <i class="bi bi-magic"></i>
    </div>
    <div class="value">
      <div class="top">15</div>
      <div class="bottom">Under Review</div>
    </div>
  </div>
  <div class="widget blue">
    <div class="icon">
      <i class="bi bi-magic"></i>
    </div>
    <div class="value">
      <div class="top">6</div>
      <div class="bottom">Test</div>
    </div>
  </div>
  <div class="widget green2">
    <div class="icon">
      <i class="bi bi-magic"></i>
    </div>
    <div class="value">
      <div class="top">6</div>
      <div class="bottom">Done</div>
    </div>
  </div>
</div>

