.bug-badg-style{
  color: #fff;
  background-color: red;
  --bs-badge-font-size: 0.65em;
}
.feat-badg-style{
  color: black;
  background-color: yellow;
  --bs-badge-font-size: 0.65em;
}
.doc-badg-style{
  width: 90px;
  color: #fff;
  background-color: green;
  --bs-badge-font-size: 0.65em;
}
.done-badg-style{
  color: #fff;
  background-color: green;
  --bs-badge-font-size: 0.65em;
}
.review-badg-style{
  color: #fff;
  background-color: rgb(143, 201, 143);
  --bs-badge-font-size: 0.65em;
}
.test-badg-style{
  color:#fff;
  background-color: blue;
  --bs-badge-font-size: 0.65em;
}
.prog-badg-style{
  color:#fff;
  background-color: red;
  --bs-badge-font-size: 0.65em;
}
.todo-badg-style{
  color:black;
  background-color: yellow;
  --bs-badge-font-size: 0.65em;
}
.wait-badg-style{
  color:#fff;
  background-color: rgb(57, 57, 59);
  --bs-badge-font-size: 0.65em;
}
