<nav class="mb-2 navbar navbar-expand-lg bg-nav sticky-top border-bottom border-body">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <div class="collapse navbar-collapse  " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link  " routerLink="">
                        <i class="bi bi-house"></i> home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="skill">
                        <i class="bi bi-award"></i>
                        skill</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="tasks">
                        <i class="bi bi-list-task"></i>
                        task</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="formation">
                        <i class="bi bi-book"></i>
                        formation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="dashboard">
                        <i class="bi bi-speedometer2"></i>
                        dashboard</a>
            </ul>
        </div>
    </div>
</nav>
