<app-modal [title]="'add skill'">
    <ng-template #openButton>
        <button class="btn btn-success"><i class="bi bi-plus"></i> add skill</button>
    </ng-template>
    <ng-template #modalBody let-modal>
        <app-form [fields]="SkillForm">
            <ng-template #formButtons let-form>
                <div class="d-flex justify-content-between">
                    <button (click)="addSkill(form,modal)" class="btn btn-success"><i class="bi bi-plus"></i> add
                    </button>
                    <button (click)="form.reset()" class="btn btn-secondary">
                        <i class="bi bi-arrow-counterclockwise"></i>
                        reset
                    </button>
                </div>
            </ng-template>
        </app-form>
    </ng-template>
</app-modal>
