<div class="mb-3 d-flex justify-content-between">
    <input [formControl]="name" class="m-1 form-control form-control-sm" id="search" placeholder="enter name"
           style="max-width: 150px" type="search">
    <app-add-quiz [skillId]="skillId$ | async"/>
</div>
<ng-container *ngIf="quizzes$ | async as data">
    <app-table [dataSource]="data.content" [headers]="quizHeaders"
    >
        <ng-template #actions let-quiz>
            <div class="d-flex justify-content-start">
                <app-delete-quiz [quizId]="quiz.id"></app-delete-quiz>
                <app-update-skill [skill]="quiz"></app-update-skill>
                <a [routerLink]="['/skill/quiz/detail', quiz.id]" class="btn btn-primary mx-1"
                   title="detail">
                    <i class="bi bi-eye-fill"></i>
                    details</a>
                <a [routerLink]="['/skill/quiz/response', quiz.id]" class="btn btn-primary mx-1"
                   title="detail">
                    <i class="bi bi-pencil"></i>
                    take</a>
            </div>

        </ng-template>
    </app-table>
    <div class="row justify-content-end">
        <div class="col-1 col-md-2 col-sm-4 d-flex align-items-center ">
            <label class="me-2" for="item-per-page-select">size</label>
            <select [formControl]="size" class="form-select form-select-sm " id="item-per-page-select">
                <option *ngFor="let e of paginationDefaults.sizeOptions" [value]="e">{{e}}</option>
            </select>
        </div>
        <pagination *ngIf="totalItems$|async as totalItems " [boundaryLinks]="true" [formControl]="currentPage "
                    [itemsPerPage]="(size$| async) || 10" [maxSize]="paginationDefaults.maxSize"
                    [totalItems]="totalItems"
                    class="col-4 mt-2 me-2"></pagination>
    </div>
</ng-container>
